= form_for @message do |f|
  - if @message.errors.any?
    #error_explanation
      
      %ul
        - @message.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :phone_number
    = f.text_field :phone_number
  .field
    = f.label :text
    = f.text_area :text
  .actions
    = f.submit 'Save'
