%section#portfolio.two  
  .container
    %header
      %h1 لیست پیام های ارسالی
      
    .12u
      %table
        %tr
          %th ردیف
          %th نام فرستنده
          %th ایمیل فرستنده
          %th تلفن فرستنده
          %th پیام
          %th عملیات




        - @messages.each_with_index do |message, i|
          %tr
            %td= (i+1)
            %td= message.name
            %td= message.email
            %td= message.phone_number
            %td= message.text
            %td              
              = link_to 'مشاهده', message            
              \|  
              = link_to 'حذف', message, :method => :delete, :data => { :confirm => 'Are you sure?' }

