= form_for @slide do |f|
  - if @slide.errors.any?
    #error_explanation      
      %ul
        - @slide.errors.each do |attr, msg|
          %li= msg

  .field.fa
    = f.label 'انتخاب عکس'
    = f.file_field :image
  .field.fa
    = f.label 'توضیحات به فارسی:'
    = f.text_field :description_fa
  
  .actions
    = f.submit 'Save'
