-unless sliders.blank?  
  .hero-unit
  .carousel.slide
    .carousel-inner         
      - @slides = Slide.all
      - @slides.each do |slide|
        .item-row.item
          = image_tag slide.image(:gallery_size), :id =>  slide.id , :class => "slide", :title => "رنگین کمان_" + slide.image_file_name, :alt =>  "رنگین کمان _" + slide.image_file_name
          
              
    -if @slides.count > 1          
      .carousel-controls
        .center
          %ol.carousel-indicator-list.carousel-indicators
            -  @slides.each_with_index do |slide, index|
              %li{"data-slide-to" => "#{index}", "data-target" => "#homeCarousel", :class => "slide-indicator"}      
      = link_to ".carousel", :class => "carousel-control left", "data-slide" => "prev", :title => "رنگین کمان " do
        = image_tag 'next-icon.png', :alt => "رنگین کمان " , :title =>  "رنگین کمان " 
      = link_to ".carousel", :class => "carousel-control right", "data-slide" => "next", :title => "رنگین کمان" do
        = image_tag 'prev-icon.png', :alt => "رنگین کمان " , :title => "رنگین کمان " 
      
:javascript 
  $("#slider-carousel .item").first().addClass("active");
  $("#slider-carousel .slide-indicator").first().addClass("active");
  $('.carousel').carousel();
