
.edi-slider-holder.fa  
  %h2{:style => "position:relative"}= 'تنظیم اندازه تصویر'
  = form_for @slide, :html => {:multipart => true} do |f| 
    %div
      = image_tag @slide.image.url(:original), :class => "crop cropImage", :height => "680", :width => "965"
      = f.hidden_field :crop_x
      = f.hidden_field :crop_y
      = f.hidden_field :crop_w
      = f.hidden_field :crop_h
    .clear-float
    %div{:style => "margin:10%;"}
      
      
      .form-group        
        = f.label "توضیحات به فارسی", :class => "control-label"
        = f.text_area :description_fa, :class => "form-control"    
        
      
      
      .form-group
        = f.submit 'ثبت', :class => "btn btn-default"
      .clear-float
      = link_to 'بازگشت', slides_path
    .clear-float
:javascript
  $('.crop' ).each( function () {
    var image = $( this )
    , crop  = image
    .crop( {
      controls : 'Drag to move, scroll to zoom'
    } )
    .on( 'crop', function( event ) {      
      $("#slide_crop_x").val(event.cropX);
      $("#slide_crop_y").val(event.cropY);  
      $("#slide_crop_h").val(event.cropH);
      $("#slide_crop_w").val(event.cropW);
    })
    .data('crop');
      image
      .on( 'dblclick', $.proxy( crop.zoomIn, crop ) )
      .on( 'mousewheel', function ( event ) {
      return event.originalEvent.wheelDelta < 0 ?
      crop.zoomIn() :
      crop.zoomOut();
    } );
  } );
      
    

