%h1  اسلایدر

%table
  %tr
    %th تصویر
    %th توضیحات
    
    %th 

  - @slides.each do |slide|
    %tr
      %td= slide.description
      %td= image_tag slide.image(:small)
      %td
        = link_to 'مشاهده', slide
        = link_to 'ویرایش', edit_slide_path(slide)
        = link_to 'حذف', slide, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'اسلاید جدید', new_slide_path, :class => "btn btn-default"
