.middle-div.go-center
  .col-sm-4.col-lg-offset-1.fa
    %p#notice= notice
    = form_tag create_session_path do 
      .form-group 
        %span.col-sm-4.lable=" نام کاربری:"
        %span= text_field_tag :user_name, "",:class => "form-control", :placeholder => "نام کاربری را وارد کنید"
      .form-group 
        %span.col-sm-4.lable=" رمز عبور:"
        %span= password_field_tag :password, "", :class => "form-control", :placeholder => "رمز عبور را وارد کنید" 
        
      .form-group.pull-left
        = submit_tag "ورود", :class => "btn btn-default"


