%ul.admin-menu
  %li
    = link_to 'مدیریت صفحات متنی', Page
  %li  
    = link_to 'تعریف گروه محصولات', Category
  %li  
    = link_to 'مدیریت محصولات', Product
  %li
    = link_to 'افزودن تصویر به محصول', new_photo_path
  %li
    = link_to 'مدیریت اسلایدر', Slide
  %li
    = link_to 'پروفایل مدیرسایت', User
  %li
    = link_to 'خروج', delete_session_path
