
= form_for @message ||= Message.new, :html => {:class => "contact"} do |f|
  - if @message.errors.any?
    #error_explanation
      %ul
        - @message.errors.each do |attr, msg|
          %li= msg 
      
  -if flash[:SendMsg]        
    .alert.alert-success= flash[:SendMsg]
  -if flash[:MsgError]        
    .alert.alert-danger= flash[:MsgError]
  
  
        
  .12u
    = f.text_field :name,  placeholder: 'نام خود را وارد کنید.', :id => "contact_name"
    
  .12u
    = f.text_field :email, placeholder: 'ایمیل خود را وارد کنید' , :id => "contact_email" 
    
  .12u
    = f.text_area :text, cols: "40", placeholder:  'متن خود را وارد کنید', rows: "5", :style => "resize:none", :id => "contact_message"    
         
  .12u
    = f.submit  "ارسال پیام", :class=> "submit", :id => "contact-submit"

:javascript   
  $(':submit').click(function(e) {
    $(':text.needed, textarea.needed').each(function() {
      if ($(this).val().length == 0) {
        $(this).css('border', '2px solid red');
        e.preventDefault();
      }
    });
  });
