%h4= t('msg.contact-title')
= form_for @message ||= Message.new, :html => {:class => "contact"} do |f|
  - if @message.errors.any?
    #error_explanation
      %ul
        - @message.errors.each do |attr, msg|
          %li= msg 
      
  -if flash[:SendMsg]        
    .alert.alert-success= flash[:SendMsg]
      
  
  .form-group
    = f.label t('msg.contact-name'),  :class => "control-label"    
    %span.Necessary= t('msg.Required')
    = f.text_field :name, :class => "form-control needed"  
    
    
  .form-group
    = f.label t('msg.contact-email'),  :class => "control-label"
    %span.Necessary= t('msg.Required')
    = f.text_field :email, :class => "form-control needed"          
    
  .form-group
    = f.label t('msg.contact-phone'),  :class => "control-label"
    = f.text_field :phone, :class => "form-control"
    
  .form-group
    = f.label t('msg.contact-msg'),  :class => "control-label"
    %span.Necessary=  t('msg.Required')
    = f.text_area :text, :class => "form-control needed", :style => "resize:none", :rows => 5
    
         
  .form-group
    = f.submit t('msg.contact-btn'), :class=> "send-msg"

:javascript   
  $(':submit').click(function(e) {
    $(':text.needed, textarea.needed').each(function() {
      if ($(this).val().length == 0) {
        $(this).css('border', '2px solid red');
        e.preventDefault();
      }
    });
  });
