%section#portfolio.two  
  .container
    %header
      %h1 لیست صفحات متنی
    - if is_admin?
      = link_to 'ایجاد صفحه متنی جدید', new_page_path
    %table
      %tr
        %th عنوان صفحه    
        %th

      - @pages.each do |page|
        %tr
          %td= page.title
          
          %td
            - if is_admin?
              = link_to 'مشاهده', page
              = link_to 'ویرایش', edit_page_path(page)
              = link_to 'حذف', page, :method => :delete, :data => { :confirm => 'آیا می خواهید این صفحه را حذف کنید؟' }



