- if @page.title == "درباره ما"
  / About Me
  %section#about.three
    .container
      %header
        %h2 درباره یاقوت کویر
      
      %div= raw @page.text
- elsif @page.title == "تماس با ما"
  / Contact
  %section#contact.four
    .container
      %header
        %h2= @page.title_fa
      .6u= raw @page.text
      .6u  
        = render 'shared/msg_form'

    - if is_admin?
      .admin-links
        = link_to 'ویرایش', edit_page_path(@page)
      
