- if @page.title == "About us"
  / About Me
  %section#about.three
    .container
      %header
        %h2 درباره یاقوت کویر
      
      %div= raw @page.text
- elsif @page.title == "Contact us"
  / Contact
  %section#contact.four
    .container
      %header
        %h2= @page.title_fa
      .6u= raw @page.text
      .6u  
        = render 'shared/msg_form'


    .admin-links
      = link_to 'ویرایش', edit_page_path(@page)
      \|
      = link_to 'بازگشت', :back
