/ Intro

/ Portfolio
%section#portfolio.two
  .container
    %header
      %h2 محصولات 
    %p
      توضیحات کلی در مورد محصولات در این قسمت قرار می گیرد.
    .row{:style => "direction:rtl"}
      - Category.all.each do |category|
        .category-title.filter{"data-filter" => ".category-" + category.id.to_s}= category.title_fa
      .clear-float
    .row#Container
      - Product.all.each do |product|
        .4u.mix{"data-my-order" => product.id, :class => "category-"+ product.category_id.to_s }
          %article.item
            = link_to product, :class => "image fit", :title => product.title_fa do            
              - if product.photos.present?
                = image_tag product.photos.first.image(:small), :alt => product.title_fa, :title => product.title_fa
                = image_tag 'link-icon.png' , :class => "link-icon", :alt => product.title_fa, :title => product.title_fa
            %header
              %h3= product.title_fa
            
        
/ About Me
%section#about.three
  .container
    %header
      %h2 درباره یاقوت کویر    
    %p
      متن معرفی و تاریخچه و هر آنچه نیاز درباره مجموعه گفته شود در این قسمت قرار می گیرد.
/ Contact
%section#contact.four
  .container
    %header
      %h2 تماس با ما
    %p
      جزئیات تماس و شامل شماره های تماس و ایمیل و آدرس در این قسمت قرار می گیرد.
      %br
      نقشه گوگل نیز در این قسمت نمایش داده خواهد شد.
    .6u  
      = render 'shared/msg_form'
      
:javascript
  $(function(){
    $('#Container').mixItUp();  
  });
  
