= form_for @picture do |f|
  - if @picture.errors.any?
    #error_explanation
      
      %ul
        - @picture.errors.each do |attr, msg|
          %li= msg

  .field
    = f.label 'توضیحات به انگلیسی:'
    = f.text_field :description_en
  .field
    = f.label 'توضیحات به فارسی:'
    = f.text_field :description_fa
  .field
    = f.label 'محصول مربوطه را انتخاب کنید:'
    = f.select(:product_id, Product.all.collect {|u| [u.title_fa, u.id]}, :prompt => ' محصول را انتخاب کنید.')      
  .actions
    = f.submit 'Save'
