%p#notice= notice

%p
  %b Description en:
  = @picture.description_en
%p
  %b Description fa:
  = @picture.description_fa
%p
  %b Product:
  = @picture.product_id

= link_to 'Edit', edit_picture_path(@picture)
\|
= link_to 'Back', pictures_path
