%section#portfolio.two
  .container
    %header      
      %h2 لیست تصاویر محصولات
      = link_to 'افزودن تصویر جدید', new_photo_path

    %table
      %tr
        %th ردیف
        %th عنوان
        %th محصول مربوطه
        %th تصویر        
        %th

      - @photos.each_with_index do |photo, i|
        %tr
          %td= (i+1)
          %td= photo.title
          %td 
            - if photo.product_id.present?
              = photo.product.title_fa
            
          %td= image_tag photo.image(:small)
          %td
            - if is_admin?
              = link_to 'مشاهده', photo
              \|
              = link_to 'ویرایش', edit_photo_path(photo)
              \|
              = link_to 'حذف', photo, :method => :delete, :data => { :confirm => 'آیا مطمئن هستید؟' }



   
