%section#portfolio.two  
  .container
    %header
      %p#notice= notice
      %p
        %b نام محصول
        = @photo.product.title_fa
    %p
      = image_tag @photo.image(:medium)
    %p
      %b توضیحات
      = @photo.description
    
    - if is_admin?
      = link_to 'ویرایش', edit_photo_path(@photo)
      \|
      = link_to 'بازگشت', Product
