%section#portfolio.two  
  .container
    %header      
      %span= link_to @photo.product.subgroup.title , :controller => "subgroups", :action => "show", :id => @photo.product.subgroup.title 
      %span= ' / '
      - if @photo.product.title_fa.present?
        %span= link_to @photo.product.title_fa,  :controller => "products", :action => "show", :id => @photo.product.title_fa
      %h2= @photo.title 
    .col-sm-12
      .col-sm-4{:style => "overflow:hidden"}   
        = image_tag @photo.image(:medium)
      .col-sm-8.sub-pro-description
        =raw @photo.description
    .col-sm-12
      - if is_admin?
        = link_to 'ویرایش', edit_photo_path(@photo)
        \|
        = link_to 'بازگشت', Product
