%section#portfolio.two  
  .container
    %header
      %h1 گالری تصاویر
      - if is_admin?
        = link_to 'افزودن تصویر به گالری', new_gallery_path, :class=> "btn btn-default"
    .12u
      - @galleries.each do |gallery|
        .4u
          = gallery.title
          - if is_admin?              
            = link_to 'مشاهده', gallery, :class =>" btn btn-warning"
            
            = link_to 'ویرایش', edit_gallery_path(gallery), :class => "btn btn-info"  
            
            = link_to 'حذف', gallery, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => "btn btn-danger"

