%section#portfolio.two  
  .container
    %header
      %h1 گالری تصاویر
      - if is_admin?
        = link_to 'افزودن تصویر به گالری', new_gallery_path, :class=> "submit"
    .12u
      %table
        %tr
          %th عنوان 
          %th Description          
          %th

        - @galleries.each do |gallery|
          %tr
            %td= gallery.title
            %td= gallery.description
            - if is_admin?
              %td
                = link_to 'Show', gallery
                \|
                = link_to 'Edit', edit_gallery_path(gallery)
                \|
                = link_to 'Destroy', gallery, :method => :delete, :data => { :confirm => 'Are you sure?' }

