
%section  
  .container  
    %header
      %h1= @gallery.title 
    %p#notice= notice

  = link_to (image_tag @gallery.photo(:medium)), @gallery.photo(:original), :target => "_blank"
  %p  
    = @gallery.description
  - if is_admin?
    = link_to 'ویرایش', edit_gallery_path(@gallery)
    \|
    = link_to 'بازگشت', galleries_path
