= form_for @category do |f|
  - if @category.errors.any?
    #error_explanation      
      %ul
        - @category.errors.each do |attr, msg|
          %li= msg

  
    
  .field.fa
    = f.label 'عنوان گروه:'
    = f.text_field :title_fa
  .field.fa
    = f.label 'توضیحات :'
    = f.text_area :description_fa
  
  .actions
    = f.submit 'ثبت'
