= form_for @category do |f|
  - if @category.errors.any?
    #error_explanation      
      %ul
        - @category.errors.each do |attr, msg|
          %li= msg

  .field
    = f.label 'عنوان به انگلیسی:'
    = f.text_field :title_en
  .field
    = f.label 'عنوان به فارسی:'
    = f.text_field :title_fa
  .field
    = f.label 'توضیحات به انگلیسی:'
    = f.text_area :description_en
  .field
    = f.label 'توضیحات به فارسی:'
    = f.text_area :description_fa
  .actions
    = f.submit 'Save'
