%section#portfolio.two  
  .container
    %header
      %h1 لیست گروه محصولات
      - if is_admin?
        .contact
          = link_to 'ایجاد دسته جدید محصولات', new_category_path
    .12u
      %table
        %tr
          %th ردیف
          %th عنوان گروه   
          %th

        - @categories.each_with_index do |category, i|
          %tr
            %td= (i+1)
            %td= category.title_fa
            
            %td
              = link_to 'مشاهده', category
              = link_to 'ویرایش', edit_category_path(category)
              = link_to 'حذف', category, :method => :delete, :data => { :confirm => 'Are you sure?' }


  
