%section#portfolio.two  
  .container
    %header
      %p#notice= notice

    %p
      %b عنوان گروه
      %span.title= @category.title_fa
    %p
      %b توضیحات
      = @category.description_fa
    - if is_admin?
      %ul.admin-links
        %li
          = link_to 'ویرایش', edit_category_path(@category)
        %li
          = link_to 'بازگشت', categories_path
