%section#portfolio.two  
  .container
    %header
      %p#notice= notice

    %p
      %b عنوان گروه
      = @category.title_fa

    %p
      %b توضیحات
      = @category.description_fa
    - if is_admin?

      = link_to 'ویرایش', edit_category_path(@category)
      \|
      = link_to 'بازگشت', categories_path
