= form_for @product, :html => {:class => "contact fa"} do |f|
  - if @product.errors.any?
    #error_explanation
      
      %ul
        - @product.errors.each do |attr, msg|
          %li= msg

  .field.fa
    = f.label :عنوان
    = f.text_field :title
  .field.fa
    = f.label :توضیحات
    = f.text_area :description
  .actions.fa
    = f.submit  "ثبت", :class=> "submit", :id => "contact-submit"
.clear-float 
