= form_for @product, :html => {:class => "contact fa"} do |f|
  - if @product.errors.any?
    #error_explanation
      
      %ul
        - @product.errors.each do |attr, msg|
          %li= msg

  .field.fa
    = f.label :عنوان
    = f.text_field :title_fa
  .field.fa
    = f.label 'زیر گروه مربوطه:'
    = f.select(:subgroup_id, Subgroup.all.collect {|u| [u.title, u.id]}, :prompt => ' بخش را انتخاب کنید.') 
  .field.fa
    = f.label :توضیحات
    = f.cktext_area :description_fa
  .actions.fa
    = f.submit  "ثبت", :class=> "submit", :id => "contact-submit"
.clear-float 
