%section  
  .container
    %header     
      %span= @product.subgroup.title
      %h1= 'ویرایش محصول ' + @product.title_fa

    = render 'form'
    - if is_admin?
      = link_to 'مشاهده', @product
      \|
      = link_to 'بازگشت', :back
