%section#portfolio.two  
  .container
    %header
      %h2 محصولات 
      - if is_admin?
        .contact
          = link_to 'تعریف محصول جدید', new_product_path, :class=> "submit"
    - @products.each do |product|
      .4u
        %article.item
          = link_to product, :class => "image fit" do            
            - if product.photos.present?
              = image_tag product.photos.first.image(:small)
          %header
            %h3= product.title_fa
            %p= product.description

.clear-float 

