%section#portfolio.two  
  - if is_admin?
    = link_to 'ویرایش', edit_product_path(@product), :class => "btn btn-info"                    
    \|
    = link_to 'بازگشت', :back
    \|
    = link_to 'افزودن تصویر به محصول', new_photo_path, :class=> "btn btn-default"
  .container
    %header      
      %span= link_to @product.subgroup.title, :controller => "subgroups", :action => "show", :id => @product.subgroup.title
      %h2= @product.title_fa
    .col-sm-6    
      =raw @product.description_fa
    .col-sm-12
      - if @product.photos.present?
        - if @product.photos.offset(1).present?
          - @product.photos.offset(1).each do |pic|
            .product-box
              %article.item
                = link_to pic, :class => "image fit-heigh" do            
                  = image_tag pic.image(:small), :alt => @product.title_fa + '_' + pic.title, :title => @product.title_fa + '_' + pic.title
                %header                  
                  %h3= pic.title
                  
                  - if is_admin?
                    = link_to 'ویرایش', edit_photo_path(pic), :class => "btn btn-info"                    
                    = link_to 'حذف', pic, :method => :delete, :data => { :confirm => 'آیا می خواهید این آیتم را حذف کنید؟' }, :class => "btn btn-danger"
            

            
                
      .clear-float 
    
  
.clear-float 

