%section#portfolio.two  
  .container
    %header
      %h2= @product.title_fa
    .col-sm-6
      - if @product.photos.present?
        - @product.photos.each do |pic|
          .col-sm-3= image_tag pic.image(:medium), :alt => @product.title_fa, :title => @product.title_fa
        .clear-float 
    .col-sm-6    
      = @product.description
  - if is_admin?
    = link_to 'ویرایش', edit_product_path(@product)
    \|
    = link_to 'بازگشت', products_path
    \|
    = link_to 'افزودن تصویر به محصول', new_photo_path
.clear-float 
