%section#portfolio.two  
  .container
    %header
      %h2= @product.title_fa
    .col-sm-6    
      = @product.description
    .col-sm-12
      - if @product.photos.present?
        - @product.photos.each do |pic|
          .col-sm-4
            = image_tag pic.image(:medium), :alt => @product.title_fa + '_' + pic.image_file_name, :title => @product.title_fa + '_' + pic.description, :style => "width:100%"
            = pic.description
            = link_to 'ویرایش تصویر', edit_photo_path(pic)
            \|
            = link_to 'حذف تصویر', pic, :method => :delete, :data => { :confirm => 'آیا مطمئن هستید؟' }
        .clear-float 
    
  - if is_admin?
    = link_to 'ویرایش', edit_product_path(@product)
    \|
    = link_to 'بازگشت', products_path
    \|
    = link_to 'افزودن تصویر به محصول', new_photo_path
.clear-float 
