!!!
%html
  %head
    %title= 'یاقوت کویر'
 
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true 
    = javascript_include_tag "application", "data-turbolinks-track" => true 
    = csrf_meta_tags 

  %body
    #header.skel-layers-fixed
      .top
        / Logo
        #logo          
          %h1#title یاقوت کویر
          %p تولیدکننده کودهای کشاورزی
          %span.image.avatar48
            = image_tag 'avatar.jpg'
        / Nav
        %nav#nav
          %ul
            - if current_page?('/')
            
              %li
                %a#top-link.skel-layers-ignoreHref{:href => "#top"}
                  %span.icon.fa-home صفحه اصلی
              %li
                %a#portfolio-link.skel-layers-ignoreHref{:href => "#portfolio"}
                  %span.icon.fa-th محصولات
              %li
                %a#about-link.skel-layers-ignoreHref{:href => "#about"}
                  %span.icon.fa-user درباره ما
              %li
                %a#contact-link.skel-layers-ignoreHref{:href => "#contact"}
                  %span.icon.fa-envelope تماس با ما
            - else
            
              %li
                = link_to root_url, :class => "skel-layers-ignoreHref", :id => "top-link" do                
                  %span.icon.fa-home صفحه اصلی
              %li
                = link_to products_path , :class => ('active' if current_page?(products_path)), :id => "portfolio-link" do                                
                  %span.icon.fa-th محصولات
              -@about = Page.find_by_title('About us')
              %li  
                = link_to @about , :class => ('active' if current_page?(@about)), :id => "about-link" do                 
                  %span.icon.fa-user= @about.title_fa
              -@contact = Page.find_by_title('Contact us')
              %li  
                = link_to @contact , :class => ('active' if current_page?(@contact)), :id => "contact-link" do                 
                  %span.icon.fa-user= @contact.title_fa
              
            - if is_admin?
              %li
                %b= 'منوی مدیر سایت'
              %li.admin-menu
                = link_to 'مدیریت اسلایدر', slides_path
      .bottom
        / Social Icons
        %ul.icons
          %li
            %a.icon.fa-twitter{:href => "#"}
              %span.label Twitter
          %li
            %a.icon.fa-facebook{:href => "#"}
              %span.label Facebook
          %li
            %a.icon.fa-github{:href => "#"}
              %span.label Github
          %li
            %a.icon.fa-dribbble{:href => "#"}
              %span.label Dribbble
          %li
            %a.icon.fa-envelope{:href => "#"}
              %span.label Email
    #main.fa  
      = yield 
    / Footer
    #footer
      / Copyright
      %ul.copyright
        %li © Yaghoote Kavir. 
        %li
          Design:
          = link_to 'Raush.net', url_with_protocol('raush.net')
