!!!
%html
  %head
    %title= 'یاقوت کویر'

    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = javascript_include_tag "jquery.mixitup"
    = csrf_meta_tags

  %body      
    .top-site#top.one
      #date
        = JalaliDate.new(Date.today).strftime("%A %e %b %Y")
        |
        =Date.today.strftime("%A %e %b %Y")
      / Logo
      #logo
        .image.avatar48
          = image_tag 'avatar.jpg'
        %h1#title یاقوت کویر
        %p تولیدکننده کودهای کشاورزی
        
     
      #search
        = form_tag "http://google.com/search", method: "get",  :target=> "_blank", :class => "contact-form", :id => "contact-form" do
          .search_on_google
            .google-field= text_field_tag :q, '', placeholder: 'جستجو در گوگل',  :class => I18n.locale
            .google-submit
              =image_submit_tag 'search.png', :name => "sa",  :class => I18n.locale


    .clear-float

    %section#slide{:style => "margin:0; padding:0;"}
      = render 'slides/slider', :sliders => Slide.all

      .clear-float
    #header.skel-layers-fixed
      .top
        / Nav
        = render 'shared/nav_bar'

    #main.fa
      = yield
    / Footer
    #footer
      / Copyright
      %ul.copyright
        %li © تمامی حقوق مادی و معنوی این وب سایت متعلق به شرکت یاقوت کویر می باشد.
        %li
          Design and Develop:
          Raush.net
    -if is_admin?
      .admin_nav_bar
        %b= 'منوی مدیر سایت'
        = render 'shared/admin_menu'

